/*-- header --*/
.header-top{
	padding:1em 0;
	border-bottom: solid 1px #e3e3e3;
}
.header-logo a{
	display:block;
}
.header-logo{
	float:left;
}
.header-right{
	float:right;
}
.header-right ul{
	margin:0;
	padding:0;
}
.header-right ul li{
	  display: inline-block;
	  margin: 0 1em;
	  color: #7e7f84;
	  font-size: 14px;
	  font-weight: 500;
}
.header-right ul li.phone{
	padding-left: 1.5em;
	background: url() no-repeat 0px 3px;
}
.header-right ul li.mail{
	padding-left: 1.5em;
	background: url() no-repeat 0px 4px;
}
.header-right ul li.mail a{
	color:#7e7f84;
	text-decoration:none;
	text-transform: uppercase;
}
.header-right ul li.userinfo a{
	border: solid 1px #e3e3e3;
	padding: 10px 25px 10px 25px;
	color: #7e7f84;
	font-size: 14px;
	text-decoration:none;
}
.header-right ul li.userinfo{
	position:relative;
}
.header-right ul li.userinfo a span.profile{
	background: url() no-repeat 0px 0px;
	padding-left: 35px;
	margin-right: 15px;
}
.header-right ul li.userinfo span.check{
	background: url() no-repeat 79px 0px;
	padding-right: 35px;
	text-transform: uppercase;
}
.shopping{
	display:none;
	position:absolute;
	padding:20px;
	border:solid 1px #e3e3e3;
	background:#FFF;
	top: 141%;
	right: 0;
}
.shopping h5{
	color:#000;
	font-size: 14px;
	font-weight:600;
	margin:0;
}
.shopping p{
	color: #9E9E9E;
	font-size: 14px;
	font-weight: 100;
	margin: 1em 0 0 0;
}
.header-right ul li.userinfo:hover div.shopping{
	display:block;
	z-index: 9999;
}
.shopping:after{
	content: '';
  position: absolute;
  top: -7%;
  right: 13%;
  width: 0;
  height: 0;
  border-top: 9px solid #e3e3e3;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  transform: rotate(180deg);rm: rotate(180deg);
}
.top-nav{
	float:left;
	margin-top: 0;
}
span.menu {
  display: none;
}
ul.navig {
	padding: 0;
	position: relative;
	margin: 0;
}
.top-nav ul li:nth-child(1){
	margin-left:0;
}
ul.navig li span {
	color: #fff;
	margin: 0 15px;
	font-size: 16px;
}
ul.navig li {
	display: inline-block;
	margin: .7em 1em;
	position: relative;
}
ul.navig li a {
	color:#7e7f84;
	font-size:14px;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(70, 181, 227, 0);
	text-shadow: 2px 2px 2px #f9f9f9;
	-webkit-text-shadow: 2px 2px 2px #f9f9f9;
	-moz-text-shadow: 2px 2px 2px #f9f9f9;
	-o-text-shadow: 2px 2px 2px #f9f9f9;
	-ms-text-shadow: 2px 2px 2px #f9f9f9;
}
ul.navig li a.sup{
	color:#5f2073;
	background:#f9f9f9;
	font-weight:700;
}
ul.navig li a:hover{
	color: #ff5f3b;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
}
.search {
	float:left;
	  margin: .3em 0 0 1em;
}
.search input[type="text"] {
  display: inline-block;
  background: url() no-repeat 0px 14px;
  border: none;
  margin: 0;
  outline: none;
  font-size: 14px;
  color: #7e7f84;
  padding: .7em .7em .7em 2em;
}
.header-logo p{
	color: #7e7f84;
	font-size: 30px;
	font-weight: bold;
}
/* ------footer-------- */
footer {
    background: #212121;
}
.footer-grids a {
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
}
.footer-grids i {
    color: #f2994a;
    margin-right: 10px;
}
.footer-grids {
    border-bottom: 1px solid #464646;
}
p.para {
    margin: 0;
    font-size: 0.95em;
    color: #a5a3a3;
    line-height: 2em;
    letter-spacing: 1px;
}
.subscribe-grid {
    margin: 0 auto;
    width: 70%;
}
.subscribe-grid h5 {
    color: #fff;
    text-transform: capitalize;
    font-size: 19px;
     letter-spacing: 2px;
    font-weight: 600;
}
.subscribe-grid p.para{
    color: #aaa;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 1em 0 2em;
	text-transform: lowercase;
}
.subscribe-grid p {
    color: #f2994a;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 1em 0 2em;
	text-transform: capitalize;
}
.subscribe-grid p span {
    color: #fff;
     font-weight: 600;
    margin: 0 5px;
    text-decoration: underline;
}

.subscribe-grid form {
	position: relative;
     width: 70%;
    margin: auto;
}
.subscribe-grid form:hover input[type="email"] {
	border: solid 2px rgba(255, 255, 255, 0.14);
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

.subscribe-grid input[type="email"] {
	display: inline-block;
     background: transparent;
	border: solid 2px #32343a;
	width: 100%;
	outline: none;
	padding: 1em 4em 1em 1em;
	font-size: 1em;
	color: #fff;
	border-radius: 0px;
	letter-spacing: 1px;
}

.subscribe-grid i.fa.fa-paper-plane-o {
	font-size: 1.2em !important;
}

.subscribe-grid button.btn1 {
	color: #fff;
	border: none;
	width: 65px;
	height: 60px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	cursor: pointer;
	background: transparent;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

.subscribe-grid button.btn1:focus {
	outline: none;
}

button.btn1:hover {
	background: none;
	color: #ffa200;
}

button.btn1:hover i.fa.fa-paper-plane-o {
	color: #ffa200 !important;
}
.form-control:focus {
    box-shadow: none;
}
.btn {
    color: #4d6171;
    letter-spacing: 1px;
    border: none !important;
    outline: none;
}
.btn span {
    color: #ffa200
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button.top_transmitv_cart {
	border: none;
    text-align: center;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    font-weight:normal;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.141);
    padding: 10px 10px;
    color: #7e7f84;
    text-decoration: none;
}
.badge{
	background-color: red;
	color:white;
	border-radius: 50%;
	padding: 0.2rem 0.5rem;
	font-size: 1rem;
	/* margin-left: 00.2rem; */
  }

.fa-shopping-cart {
    /* display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
	color:#ffa200
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
