@import url("https://cdn.syncfusion.com/ej2/material.css");
.listschedule{
    border: 0.5px solid #cccc;
    border-radius: 20px;
    margin-bottom: 20px;
    
}
.Btn_schedule{
    display: flex;
    list-style: none;
}
.Day_CiTy{
    border-top: 0.5px solid #cccc;
    margin-top: 10px;
}
.listAddress{
    border: 0.5px solid #cccc;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card-address{
    margin: auto;
    height: 500px;
    overflow: auto;
}

.listDay{
    border: 0.5px solid #cccc;
    border-radius: 20px;
    margin-bottom: 20px;
}
.btn_add_time{
    
}
.list_Day{
    border-bottom: 0.5px solid #cccc;;
}

